* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  padding: 30px 50px;
  background-color: #1e1e1e;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  gap: 40px;
}

li,
a,
p,
h1,
h2,
h3 {
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  background: linear-gradient(
    96.64deg,
    #f8b327 -104.39%,
    #c68a32 -41.31%,
    #3225ce 89.23%
  );
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 150px;
  height: 45px;
  border: none;
}

.main,
footer {
  background-color: #0d0d18;
}

.main-first-sec {
  background-color: #100f1a;
  padding-top: 100px;
}

.future-section {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.future-section > div {
  width: 50%;
}

.h1 {
  font-size: 67px;
  font-weight: 700;
}

.part-one-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.built-sec {
  display: flex;
  align-items: center;
  gap: 145px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.built-sec > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rgba(217, 217, 217, 0.5) 2px solid;
  padding-right: 30px;
}

.built-sec > div:nth-child(1) {
  flex-direction: row;
  background-color: #181829;
  padding: 25px 60px;
  border-radius: 8px;
  width: 270px;
  justify-content: center;
  gap: 10px;
  border: none;
}

.built-sec > div:nth-child(4) {
  border: none;
}

.built-sec > div:nth-child(1) h1 {
  font-size: 20px;
  font-weight: 700;
}

.ava {
  color: #e84142;
}

.built-sec .h1 {
  font-size: 50px;
}
.part-one-item button,
.main-part-two button {
  border-radius: 100px;
  width: 220px;
  height: 50px;
}

img {
  max-width: 100%;
}

.future-section > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.future-section > div:nth-child(2) img {
  width: 350px;
  height: 350px;
}

.future-section > div:nth-child(1) p {
  font-size: 20px;
  width: 75%;
  margin: 20px 0;
}
main > section:nth-child(2) {
  background: linear-gradient(180deg, #171717 0%, #5553ca 100%);
  padding: 0 50px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.main-part-two {
  display: flex;
  gap: 30px;
  background-color: #181829;
  padding: 40px;
  border-radius: 5px;
}

.main-part-two > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.main-part-two > div:nth-child(2) {
  width: 40%;
}

.main-part-two > div:nth-child(2) > div {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  border: 1px solid rgba(230, 230, 230, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.main-part-two h3,
.main {
  font-size: 25px;
  font-weight: 700;
}

.main-part-two p {
  font-size: 20px;
  font-weight: 500;
  color: rgba(230, 230, 230, 0.9);
  margin-top: 15px;
}

.main-part-two h1 {
  font-size: 50px;
  font-weight: 700;
}

.main-part-two button {
  margin-bottom: 20px;
}

.main section:nth-child(3) {
  background-color: #2e2e42;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  margin-top: 100px;
  border-radius: 5px;
}

.main section:nth-child(3) h1 {
  font-size: 40px;
  font-weight: 700;
}
.trade {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 0 50px;
  margin-top: 40px;
}

.trade > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: #181829;
  padding: 20px;
  border-radius: 10px;
}

.trade > div h3 {
  font-size: 25px;
  font-weight: 500;
}

.trade > div p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: rgba(230, 230, 230, 0.9);
}

.trade > div button {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 48px;
  gap: 10px;
  width: 211px;
  height: 63px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.btn-2 {
  background: #333332;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 48px;
  gap: 10px;
  width: 211px;
  height: 63px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6b6969;
}

.bell {
  display: block !important;
  margin-left: 850px;
}

.header > img {
  display: none;
}

.header ul button {
  display: none;
}

.trade-part-two {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 70px;
}

.trade-part-two button {
  border-radius: 82.8889px;
  width: 208px;
  height: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}

.trade-part-two > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d18;
  gap: 15px;
  padding: 20px;
  width: 25%;
}

.trade-part-two > div:nth-child(3) {
  border-radius: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.trade-part-two > div h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 150%;
  text-align: left;
  color: #ffffff;
}

.trade-part-two > div p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: rgba(230, 230, 230, 0.9);
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
  margin-top: 80px;
}

.support h1,
.feature h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 50px;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.support > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
}

.feature > div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.feature > div > div {
  display: flex;
  flex-direction: column;
  background: #1c1c1d;
  border-radius: 10px;
}

.feature p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.09em;
  color: #e2e1e1;
  padding: 15px 10px;
}

.feature h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #efefef;
  padding: 0 10px;
  padding-bottom: 20px;
}

.img-btn {
  width: 25px;
  height: 25px;
  align-self: flex-end;
  margin-right: 15px;
  margin-bottom: 15px;
}

footer {
  padding: 80px 50px;
  display: flex;
  justify-content: space-between;
}

footer .header-logo {
  margin-bottom: 20px;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

footer form button {
  width: 305px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  height: 58px;
}

footer > div:nth-child(1) > h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.04em;
}

footer input {
  background-color: transparent;
  border: none;
  border: 1px solid #6b6969;
  width: 305px;
  margin-top: 20px;
  height: 58px;
  border-radius: 10px;
}

footer input[placeholder] {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
}
footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #bcbcbc;
}

footer div:nth-child(2) {
  display: flex;
  gap: 40px;
}

footer div:nth-child(2) h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 50px;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

footer li {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.04em;
  color: #c2c2c2;
  margin-bottom: 20px;
}

.dashboard .header {
  background: linear-gradient(90.92deg, #131a35 49.21%, #131a35 97.45%);
}

.dashboard button {
  background: #1c1c1c;
  width: 165px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #e0e0e0;
}

.dashboard-btn-con {
  background: linear-gradient(100.29deg, #f8b327 -8.61%, #4503ff 118.58%);
  padding: 1px;
  border-radius: 8px;
}

.dashboard-con {
  background-color: #131a35;
  display: flex;
}

.dashboard-nav {
  background-color: #131a35;
  width: 20%;
  padding-bottom: 50px;
}

.dashboard-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 0 25px;
  padding-top: 20px;
}

.dashboard-nav ul h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.016em;
  text-transform: capitalize;
  color: #d1d1d1;
  padding-left: 20px;
}

.brown-bg {
  background: rgba(247, 185, 62, 0.25);
  border-radius: 12px;
  height: 50px;
  display: flex;
  align-items: center;
}

hr {
  margin-top: 70px;
  margin-bottom: 20px;
  border: 1px solid rgba(194, 194, 194, 0.26);
}

.dashboard-sec {
  width: 75%;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 0.5) 0%,
    rgba(255, 60, 212, 0.5) 100%
  );
  border-radius: 24px 0px 0px 0px;
}

.dashboard-sec {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.candle-stick {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 375px) {
  .header {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding: 30px 20px;
  }

  .header ul {
    flex-direction: column;
  }
  .header > button {
    display: none;
  }

  .header ul button {
    display: block;
  }

  .header > img {
    width: 23px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
  }

  .menu {
    position: fixed;
    background-color: #1e1e1e;
    inset: 0;
    left: 35%;
    padding-top: 100px;
    padding-left: 20px;
    transform: translateX(100%);
    transition: all 400ms ease-in-out;
  }

  .hide-menu {
    transform: translateX(100%);
    transition: all 400ms ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
    transition: all 400ms ease-in-out;
  }

  .menu li {
    font-size: 20px;
    font-weight: 600;
  }

  .header > img {
    display: block;
  }

  .main-first-sec {
    padding-top: 70px;
  }

  .future-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding: 0;
  }

  .future-section > div {
    width: 100%;
  }

  .future-section h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  .future-section > div:nth-child(1) p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .part-one-item {
    flex-direction: column-reverse;
    gap: 50px;
    margin-bottom: 40px;
  }
  .built-sec {
    flex-direction: column;
    gap: 100px;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .built-sec > div:nth-child(1) {
    margin: 0 20px;
    width: 230px;
  }

  .built-sec > div:nth-child(1) h1 {
    font-size: 16px;
  }

  .built-sec > div p {
    color: #6b6969;
  }

  .built-sec > div:nth-child(4) {
    border-right: 2px solid rgba(217, 217, 217, 0.5);
  }

  .main > section:nth-child(2) {
    padding: 0;
  }

  .main-part-two {
    flex-direction: column;
    padding: 0;
    padding-bottom: 30px;
  }

  .main-part-two h1 {
    padding-top: 40px;
    font-size: 30px;
  }

  .main-part-two button {
    display: block;
    width: 60%;
    margin: 20px auto;
  }

  .main-part-two > div:nth-child(1) {
    width: 100%;
    text-align: center;
  }

  .main-part-two > div:nth-child(2) {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .main-part-two > div:nth-child(2) > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .main section:nth-child(3) h1 {
    font-size: 30px;
    text-align: center;
  }

  .trade {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    margin-bottom: 0;
  }

  .trade > div {
    width: 85%;
    margin: 0 auto;
  }

  .trade-part-two {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    padding-bottom: 0;
  }

  .trade-part-two > div {
    text-align: center;
    width: 90%;
    margin: auto;
  }

  footer {
    flex-direction: column;
    padding: 20px;
  }

  footer div:nth-child(2) {
    flex-direction: column;
  }

  footer li {
    margin-bottom: 10px;
  }

  footer form {
    margin-bottom: 30px;
  }

  footer form button {
    width: 325px;
  }
  footer div:nth-child(2) h3 {
    margin-bottom: 15px;
  }

  .feature > div {
    flex-direction: column;
  }

  .feature h1,
  .support h1 {
    font-size: 35px;
    text-align: center;
  }

  .support {
    padding-top: 15px;
  }

  .support > div {
    flex-direction: column;
  }

  footer input[placeholder] {
    color: #6b6969;
  }
}
